{{# each products }}
<div class="row">
	{{# each this }}
	<div class="col-sm-6 col-md-4">
  	   	<div class="thumbnail">
    		<img src="{{ this.imagePATH }}">
      		<div class="caption">
        		<h3>{{ this.title }}</h3>
        		<p class="dsc">{{ this.description }}</p>
        		<div class="clearfix">
        			<div class="price pull-left">{{ this.price }} L</div>
        			<a href="#" class="btn btn-success pull-right" role="button">Shto n&euml; shport&euml;</a>
        		</div>
    		</div>
    	</div>
  	</div>
	{{/each}}
</div>
{{/each}}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/croco-crackers.jpg" class="img-responsive" alt="croco-crackers">
      <div class="caption">
        <h3>Crackers</h3>
        <p class="dsc">(GB) Crackers Biscuits. Ingredients: wheat flour (66%), palm oil (8%), sugar (4%), raising agents (ammonium bicarbonate E503, sodium bicarbonates E500), whey powder, malt extract, iodized salt, protease, yeast, antioxidants (soy lecithin E322, sodium metabisulphite E223, citric acid E330). Contain gluten and may contain traces of sesame seeds.</p>
        <div class="clearfix">
        	<div class="price pull-left">150 L</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Shto n&euml; shport&euml;</a>
        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/croco-crackers.jpg" class="img-responsive" alt="croco-crackers">
      <div class="caption">
        <h3>Crackers</h3>
        <p class="dsc">(GB) Crackers Biscuits. Ingredients: wheat flour (66%), palm oil (8%), sugar (4%), raising agents (ammonium bicarbonate E503, sodium bicarbonates E500), whey powder, malt extract, iodized salt, protease, yeast, antioxidants (soy lecithin E322, sodium metabisulphite E223, citric acid E330). Contain gluten and may contain traces of sesame seeds.</p>
        <div class="clearfix">
        	<div class="price pull-left">150 L</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Shto n&euml; shport&euml;</a>
        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/croco-crackers.jpg" class="img-responsive" alt="croco-crackers">
      <div class="caption">
        <h3>Crackers</h3>
        <p class="dsc">(GB) Crackers Biscuits. Ingredients: wheat flour (66%), palm oil (8%), sugar (4%), raising agents (ammonium bicarbonate E503, sodium bicarbonates E500), whey powder, malt extract, iodized salt, protease, yeast, antioxidants (soy lecithin E322, sodium metabisulphite E223, citric acid E330). Contain gluten and may contain traces of sesame seeds.</p>
        <div class="clearfix">
        	<div class="price pull-left">150 L</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Shto n&euml; shport&euml;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/croco-crackers.jpg" class="img-responsive" alt="croco-crackers">
      <div class="caption">
        <h3>Crackers</h3>
        <p class="dsc">(GB) Crackers Biscuits. Ingredients: wheat flour (66%), palm oil (8%), sugar (4%), raising agents (ammonium bicarbonate E503, sodium bicarbonates E500), whey powder, malt extract, iodized salt, protease, yeast, antioxidants (soy lecithin E322, sodium metabisulphite E223, citric acid E330). Contain gluten and may contain traces of sesame seeds.</p>
        <div class="clearfix">
        	<div class="price pull-left">150 L</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Shto n&euml; shport&euml;</a>
        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/croco-crackers.jpg" class="img-responsive" alt="croco-crackers">
      <div class="caption">
        <h3>Crackers</h3>
        <p class="dsc">(GB) Crackers Biscuits. Ingredients: wheat flour (66%), palm oil (8%), sugar (4%), raising agents (ammonium bicarbonate E503, sodium bicarbonates E500), whey powder, malt extract, iodized salt, protease, yeast, antioxidants (soy lecithin E322, sodium metabisulphite E223, citric acid E330). Contain gluten and may contain traces of sesame seeds.</p>
        <div class="clearfix">
        	<div class="price pull-left">150 L</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Shto n&euml; shport&euml;</a>
        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/croco-crackers.jpg" class="img-responsive" alt="croco-crackers">
      <div class="caption">
        <h3>Crackers</h3>
        <p class="dsc">(GB) Crackers Biscuits. Ingredients: wheat flour (66%), palm oil (8%), sugar (4%), raising agents (ammonium bicarbonate E503, sodium bicarbonates E500), whey powder, malt extract, iodized salt, protease, yeast, antioxidants (soy lecithin E322, sodium metabisulphite E223, citric acid E330). Contain gluten and may contain traces of sesame seeds.</p>
        <div class="clearfix">
        	<div class="price pull-left">150 L</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Shto n&euml; shport&euml;</a>
        </div>
      </div>
    </div>
  </div>
</div>