<div class="notice notice-danger notice-lg">
    <h1><strong>Error :</strong> Nuk u gjet asnj&euml; rezultat q&euml; perputhet me: <strong>"{{ value }}"</strong> !</h1>
</div>
<div class="notice" align="center">
	<h3 style="text-align: center;">K&euml;rko p&euml;rs&euml;ri :</h3><br>
	<form action="/market/search" id="search" method="post" class="navbar-form" role="search">
		<div class="input-group" align="center">
			<input type="search" class="form-control" id="responding" name="searchInput" required autocomplete="on" value="{{ value }}" placeholder="Kerko p&euml;r...">
			<div class="input-group-btn">
				<button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</form>
</div>
<div class="notice">
	<a href="#" class="button2"><span></span></a>
</div>
